<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">
    <div class="topbar-left"> 
      <a class="topbar-brand">
        <img src="https://canya.io/images/CanYa_logo.png" class="topbar-brand" style="height: 36px; width: auto;">
      </a>
    </div>
    <div class="topbar-right">
      <a href="https://canya.io" class="hide-mobile" target="_blank">
        <button class="btn btn-primary btn-sm">Go To CanYa.io</button>
      </a>
    </div>
  </div>
</nav>
