<app-header></app-header>


<div class="top-container container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="my-20">Change Is Coming</h1>
      <h4 class="fw-400 text-grey">Swap your ERC-20 tokens for ERC-223 tokens</h4>
      <button class="btn btn-primary btn-canya-chat">SWAP YOUR CAN</button>
    </div>
    <div class="col-md-6">
      <img src="https://canya.io/assets/img/CanYa_Landing_3.svg" class="img-fluid">
    </div>
  </div>
</div>
<div class="info-container container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="info-card">
          <h5><img src="assets/img/icon.svg" style="max-width:21px; margin-right: 10px; margin-bottom: 5px;">CANYA COIN
            (CAN)</h5>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="container">
          <div class="row">
            <div class="col-12 info-card">
              <h5>TOKEN SWAP</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12 info-card">
              <h5>GENERAL STATISTICS</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-12 info-card">
          <h5>TOKEN ALLOCATION</h5> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="info-card">
          <h5>CAN DAO FUND</h5>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="info-card">
          <h5>CANWORK</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq-container container">
  <div class="row">
    <div class="col-12 text-center" style="margin-top: 10px">
      <h1>FAQs</h1>
      <app-collapse [title]="'QUESTION'" [content]="'Answer of the question'" [index]="1"></app-collapse>
    </div>
  </div>
</div>

<app-footer></app-footer>
